/* FONTS */
body {
    font-family: 'Varela Round', sans-serif;
    background: url('../images/stock/24.jpg');
}

p {
    font-size: 14px;
}
/* header */

header {
    z-index: 1;
    height: 110px;
    border-bottom: 1px dashed rgba(168,130,122,0.8);
    background: url('../images/23(g).png') no-repeat left top;
    background-width: cover;
    background-color: #f6f2f1;
    box-shadow: 0 0 11px grey;  
    background-size: 100%;
}

.login-logout {
    position: relative;
    float: right;
    text-align: right;
    top: -80px;
    right: 20px;
    }

.login-logout a {
    color: black;
}

.login-logout a:hover {
    text-decoration: none;
}


/* menu */
.blockElt {
    width: 100%;
    padding: 20px 10px 10px 10px;
    margin-left: 0;
    border: 1px solid black;
    height: 150px;
    overflow-y: scroll;
    background-color: lightblue;
}

li{
    list-style: none;
    margin-left: -13px;
}

#logo {
    margin-top: 2px;
    margin-left: 23px; 
}

/* dashboard */
/* menu */

#menu {
    position: relative;
    z-index: -1;
    margin-top: 4px;
}

.right-bar {
    position: relative;
    z-index: -1;
    background-color: #f6f2f1;
    border: 1px dashed rgba(168,130,122,0.8);
    padding: 25px 0 10px;
    font-size: 14px;
    transform: translateY(-5px);
    box-shadow: 0px 0px 11px #ababab;
    text-align: center;
}

.right-bar li {
    transform: translateX(-25px);
    text-align: left;
    width: 141px;

}

#profil {
    text-align: center;
    width: 100%;
    border: 1px dashed rgba(168,130,122,0.8);
}

#adminTitle {

    transform: translateX(-16px);
    width: 298px;
    color: white;
}

#postsStatsTitle,
#readersStatsTitle {
    transform: translate(-16px,23px);
    width: 299px;
    color: white;
}

#adminTitle,
#lastEpisodeTitle,
#lastTicketTitle,
#lastCommentsTitle,
#reportedCommentsTitle {
    text-align: center;
    background-color: #a59191;
    padding: 7px 5px 5px 5px;
    box-shadow: 0px 2px 11px #ababab;
    font-weight: normal;
}


#postsStatsTitle {
    position: relative;
    z-index: 1;
    background-color: #88967f;
    text-align: center;
    padding: 7px 5px 5px 5px;
    box-shadow: 0px 2px 11px #ababab;
    font-weight: normal;
}

#readersStatsTitle {
    position: relative;
    z-index: 1;
    background-color: #9194a5;
    text-align: center;
    padding: 7px 5px 5px 5px;
    box-shadow: 0px 2px 11px #ababab;
    font-weight: normal;
}

.corner {
    transform: translate(271px, -16px);
}

.cornerd {
    position: relative;
    z-index: 1;
    transform: translate(273px, 8px);
}


h2 {
    font-size: 15px !important;
    font-weight: bold;
    color: grey;
}

.fa-envira {
    color: rgba(148,216,124,1);
}

.fa-bullhorn {
    color: rgba(158,186,221,1);
}

.fa-comments {
    color: rgba(125,198,207,1);
}

.fa-arrow-circle-right {
    color: rgba(0,0,0,0.7);
}

.fa-paperclip {
    color: rgba(124,25,198,0.5);
}

.fa-bell {
    transform: rotateZ(344deg); 
    color: rgba(181,11,11,0.5);
}

.fa-users {
    color: rgba(155,169,44,0.6);
}

.fa-chart-line {
    color: rgba(47,81,144,0.6);
}

.fa-calculator {
    color: rgba(243,170,62,0.7);
}
/*----------- allEpisodes --------------*/
.fa-plus-circle {
    color: #7ca96d;
}

.fa-edit {
    color: orange;
}

.fa-minus-circle {
    color: #a05d5d;
}

.fa-check-circle {
    color: orange;
}

.fa-long-arrow-alt-right {
    color: darkred;
}

.fa-hand-point-left,
.fa-hand-point-right {
    color: #445779cc;
}

.stats-square {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.stats-square p {
    border: 1px dashed rgba(168,130,122,0.8);
    padding: 3px;
    background-color: white;
    width: 118px;
    border-radius: 5px;
}



li a {
    color: rgba(0,0,0,0.7);
}

li a:hover {
    text-decoration: none;
}

nav {
    border-right: 1px dashed rgba(168,130,122,0.8);
    padding: 1px 15px 15px 15px;
    transform: translate(-14px, -25px);
    background-color: #f6f2f1;
    margin-bottom: -47px;
    transform: translate(-15px,-4px);


  }



#episodesTitle {
    margin-top: -8px;
    margin-left: 4px;
}

/* Dernier épisode publié */

#lastEpisode,
#lastTicket {
    border: 1px dashed rgba(168,130,122,0.8);
    padding: 75px 2px 15px 15px;
    height: 100%;
    font-size: 14px;
    transform: translateY(-35px);
    margin-bottom: -35px;
    box-shadow: 0px 2px 11px #ababab;
}

#lastEpisode,
#lastTicket {
    position: relative;
    z-index: -1;
    background-color: #f6f2f1;
}

#lastComments, 
#reportedComments {
    border: 1px dashed rgba(168,130,122,0.8);
    padding: 75px 0px 0px 5px;
    height: 100%;
    font-size: 14px;
    transform: translateY(-35px);
    margin-bottom: -35px;
    box-shadow: 0px 2px 11px #ababab;
}

#lastComments,
#reportedComments{
    position: relative;
    z-index: -1;
    background-color: #f6f2f1;
    
}

.menuContener {
    box-shadow: -6px 19px 12px 6px grey; 
}

#postsStats,
#readersStats {  
    box-shadow: 0 0px 11px grey;      
    background-color: #f6f2f1;
    padding: 15px 15px 15px 15px;
    transform: translate(-14px, -6px);
    border: none;
    border-right: 1px dashed rgba(168,130,122,0.8);
    margin-top: -14px;
    margin-bottom: -51px;
}

#readersStats {
    min-height: 100%;
}

#lastEpisodeTitle,
#lastTicketTitle,
#lastCommentsTitle,
#reportedCommentsTitle {
    position: relative;
    top: 24px;
    width: 100%;
    color: white;
}

.stats-h2 {
    margin-left: 0px;
}

.second-panel-comment-box {
    position: relative;
    top: -22px;
    left: -1px;
    transform: translate(1px,-8px);
    background-color: white;
    border: 1px dotted #a59191;
    margin: 0 auto 5px auto;
    padding: 10px;
    width: 100%;
}

.second-level-comment-contener {
    position: relative;
    top: 40px;
    padding-bottom: 50px;
}


/* ----------------- panneaux -------------- */

.first-panel,
.second-panel,
#lastEpisode {
    position: relative;
    transform: translate(68px,22px);
    border: 1px dashed rgba(168,130,122,0.8);
    background-color: #f6f2f1;
    box-shadow: 0 0 11px grey;  
    height: 50%;
}


.left-chain,
.front-second-panel-left-chain {
    z-index: 0;
    position: relative;
    top: -84px;
    left: 10%; 
}

.left-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -55px;
    left: 4.9%;
}

.front-first-panel-left-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -55px;
    left: -0.5%;
}

.front-second-panel-left-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -55px;
    left: 6%;
}

.front-second-panel-second-level-left-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -35px;
    left: 9.3%;
}

.second-level-left-nail,
.front-first-panel-second-level-left-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -35px;
    left: 9.5%;
}

.right-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -55px;
    left: 79.3%;
}

.front-first-panel-right-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -55px;
    left: 72.7%;
}

.front-second-panel-right-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -55px;
    left: 82.5%;
}

.second-level-right-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -35px;
    left: 84.0%;
}

.front-first-panel-second-level-right-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -34px;
    left: 82%;
}


.front-second-panel-second-level-right-nail {
    position: relative;
    transform: rotate(60deg) scale(0.7);
    z-index: 5;
    top: -34px;
    left: 86.5%;
}

.right-chain {
    z-index: 0;
    position: relative;
    top: -84px;
    left: 85%; 
}

.front-second-panel-right-chain {
    z-index: 0;
    position: relative;
    top: -84px;
    left: 87%; 
}

.first-panel-title 
/*and second */{
    position: relative;
    z-index: 5;
    text-align: center;
    color: white;
    background-color: #a59191;
    padding: 7px 5px 5px 5px;
    box-shadow: 0px 2px 11px #444444;;
    font-weight: normal;
}



.first-panel form,
.second-panel form {
    position: relative;
    top: -48px;
}

/* front form */
.ticket-comment-form input,
.ticket-comment-form textarea,
.episode-comment-form input,
.episode-comment-form textarea {
    width: 100%;
}

form #title {
    width: 100%;
}

form #submit {
    position: relative;
    top: 22px;
    left: 0px;
    width: 100%;;
}

.date-of-publication {
    color: grey;
    font-weight: normal;
}

table {
    padding: 5px !important;
    position: relative;
    top: -31px;
    background-color: white !important;
    border: 1px dotted #a59191;
    width: 100%;
}

th {
    background-color: #afafafcc;
    color: white;
    font-weight: lighter;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

th,
td {
    padding-left: 10px !important;
}

tr:hover {
    background-color: #ccc;
}

/* --SECOND PANEL ----------------*/
.first-panel-post,
.second-level-first-panel-post,
.second-panel-post,
.second-panel-comment {
    position: relative;
    top: -30px;
    background-color: white;
    border: 1px dotted #a59191;
    padding: 20px;
}


.second-level-first-panel-post
{
    top: 10px;
    padding-bottom: 12px;
    margin-bottom: 60px;
}

.first-panel-post-title,
.second-panel-post-title,
.second-panel-comment-author {
    padding-top: 20px;
    font-size: 25px !important;
}

.first-panel-post-title,
.second-panel-post-title,
.first-panel-post-date,
.second-panel-post-date,
.second-panel-comment-author,
.second-panel-comment-date {
    text-align: center;
    font-weight: bold;
    color: #445779cc !important;
    margin: auto;
}

.episode-number {
    font-size: 45px !important;
}

.first-panel-post-content,
.second-panel-post-content {
    position: relative;
    top: 15px;
    text-align: justify !important;
    margin: auto;
    padding-bottom: 25px;
}

.second-panel-comment-content {
    position: relative;
    top: 15px;
    text-align: justify !important;
    margin: auto;
    padding: 30px 0 40px 0;
}

.second-panel-comment-relatedPost {
    font-size: 10px ;
}


/* laisser un commentaire */

.leave-comment {
    transform: translateY(-25px);
}

/* ------------------------- */

h1, h3 {
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    padding: 5px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding: 5px;
    border-radius: 0 0 15px 15px; 
    transition: background-color ease 0.3s;
}

.news p:hover {
    background-color: red;
}
.news
{
    width:70%;
    margin:auto;
}

.reported {
    color: red;
}

.report-it {
    position: relative;
}

.report-it:hover {
     text-decoration: none;  
}

a
{
    text-decoration: none;
    color: purple;
}

textarea {
   
    width: 250px;
    height: 200px;
}

#navControl {
    height: 25px;
}

#pagination {
    text-align: right;
}

#nextPost {
    float: right;
}

.centered-box {
    position: absolute;
    text-align: center;
    
    border: 1px dotted  #a59191;
    border-radius: 3px;
    padding: 10px 20px 25px 20px;
    background-color: white;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.centered-box form input {
    width: 100%;
    border: 1px solid grey;
    height: 20px;
}

#login-submit {
    margin-top: 20px;
}

#contener {
     display: flex;
     text-align: center;
}

#contener p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

footer {
    text-align: center;
}


/* ########## HOME ############*/
.previous-ticket-link,
.previous-episode-link {
    float: left;
}

.next-ticket-link,
.next-episode-link {
    float: right;
}
