h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
    padding: 5px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
    padding: 5px;
    border-radius: 0 0 15px 15px; 
    transition: background-color ease 0.3s;
}

.news p:hover {
    background-color: red;
}
.news
{
    width:70%;
    margin:auto;
}

#reported {
    color: red;
}

a
{
    text-decoration: none;
    color: purple;
}

textarea {
   
    width: 250px;
    height: 200px;
}

#navControl {
    height: 25px;
}

#pagination {
    text-align: right;
}

#nextPost {
    float: right;
}

#box {
    position: absolute;
    text-align: center;
    width: 200px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 10px 20px 10px;
    background-color: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#login-submit {
    margin-top: 20px;
}

#contener {
     display: flex;
     text-align: center;
}

#contener p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

#read,
#create,
#update,
#delete {
    width: 100px;
    height: 100px;
    transition: all ease 0.3s;
}

#read {
    background-color: lightblue; 
    border: 1px solid blue;
}

#create {
    background-color: lightgreen; 
    border: 1px solid green;
}
#update {
    background-color: lightpink; 
    border: 1px solid darkred;
}
#delete {
    background-color: orange; 
    border: 1px solid red;
}

#read:hover,
#create:hover,
#update:hover,
#delete:hover {
    background-color: red;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
}
